* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
    background: #eef2f7;
    color: #333;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #0a66c2, #004182);
    color: white;
    padding: 50px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    margin: 10px 0 20px;
    font-size: 1.1rem;
}

header button {
    background: rgb(32, 30, 30);
    color: #0a66c2;
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover {
    background: #dce9f9;
}

/* SECTION */

section {
    background: white;
    margin: 30px auto;
    padding: 25px;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

h2 {
    margin-bottom: 15px;
    color: #0a66c2;
}

/* SKILLS */
ul {
    list-style: none;
}

ul li {
    background: #f1f5fb;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

/* FORM */
form input,
form textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form button {
    background: #0a66c2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* JS */
.hidden {
    display: none;
}

/* Responsive */
@media(max-width:600px) {
    header {
        font-size: 2rem;
    }
}